@import url(./_size_m/headline_size_m.css);
@import url(./_size_s/headline_size_s.css);


.headline {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 70px;
  text-transform: uppercase;
  color: #FFFFFF;
  box-sizing: border-box;
  max-width: 650px;
  border: 2px solid #ffffff;
  margin: 0;
  margin-left: 165px;
  padding: 40px;
}

@media screen and (max-width: 960px) {
  .headline {
    margin: 0 48px;
    font-size: 7vw;
    line-height: 95%;
    /*max-width: 864px;*/
  }
}