@import url(./__menu-list/header__menu-list.css);
@import url(./__menu-link/header__menu-link.css);
@import url(./__logo/header__logo.css);
@import url(./__menu-container/header__menu-container.css);
@import url(./__menu-item/header__menu-item.css);
@import url(./__container/header__container.css);
@import url(./__menu-icon/header__menu-icon.css);


.header {
  padding: 64px 165px;
  box-sizing: border-box; 
}

@media screen and (max-width: 1000px) {
  .header {
    padding-left: 0;
    padding-right: 0;
    margin: 0 48px;
  }
}